In [3]:
##List
A=["Shinde Prajakta" ,20,"Swati"]
B=["SP College","TYBSC",9163]
print(A)
print(B)

['Shinde Prajakta', 20, 'Swati']
['SP College', 'TYBSC', 9163]

In [ ]:
##Tuples
a=("Shinde Prajakta" ,20,"Swati")
b=("SP College","TYBSC",9163)
print(a)
print(b)